@import '../../../../assets/style/global/variables.scss';
@import '../../../../assets/style/global/mixins.scss';

.menu-btn {
    width: 24px;
    margin-left: 48px;

    span {
        @include wh(100%, 2px);
        background-color: #ffffff;
        display: block;
    }
    
    span+span {
        margin-top: 7px;
    }
}