@media (max-width: 1257.98px) {
    .new-subscriber-call {
        .form .form-item-list {
            .ant-form-item-block {
                .ant-form-item+.ant-form-item {
                    margin-left: 5px;
                }
            }
        }
    }
    .new-subscriber-call .form .form-item-list .form-item-block .ant-form-item {
        padding: 0 15px;
    }
    .input-area-placeholder {
        font-size: 13px;
    }
}

@media (max-width: 1119.98px) {

    .new-subscriber-call {
        .form {
            .form-item-list {
                .form-item-block {
                    .ant-form-item {
                        padding: 0 15px;
                    }

                    .ant-form-item-block {
                        .ant-form-item {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .call {
            .call-block {
                width: 310px;
            }
        }
    }
}

@media (max-width: 797.98px) {

    .new-subscriber-call {
        flex-direction: column;

        .call {
            margin-top: 15px;
            margin-left: 0;

            .call-block {
                width: 100%;

                .end-transfer {

                    .end-call,
                    .transfer-call {
                        width: 49%;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {

    .new-subscriber-call {
        padding: 0;

        .form {
            .form-item-list {
                .form-item-block {
                    padding: 30px 15px;
                    border-radius: 0;

                    .ant-form-item {
                        width: 100%;
                        margin-bottom: 30px;

                        .ant-radio-group {
                            margin-top: 0;
                            display: flex;

                            .ant-radio-wrapper+.ant-radio-wrapper {
                                margin-top: 0;
                            }
                        }
                    }

                    .ant-form-item.ant-form-item-block {
                        flex-direction: column;
                        margin-bottom: 0;
                        height: auto;
                    }

                    .ant-form-item-block {
                        .ant-form-item+.ant-form-item {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .call {
            .call-block {
                border-radius: 0;
            }
        }
    }
}