@import './../../../../assets/style/global/variables.scss';
@import './../../../../assets/style/global/mixins.scss';

.content {
    .request-types-call {
        .request-types {
            max-width: 998px;
            width: 100%;

            .btn-primary {
                height: 80px;
                padding: 1px;
                border-radius: 10px;
                background: $staticColorGradient;
                box-shadow: 0px 2px 10px rgba(230, 110, 0, 0.25);
                transition: .3s;

                &:hover {
                    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
                }

                .ant-btn {
                    @include wh100;
                    border: 0;
                    border-radius: 10px;
                    background-color: #ffffff;
                    transition: .3s;

                    &:hover {
                        background: linear-gradient(85.71deg, #912FA5 2.88%, #FA6D4A 100%);

                        span {
                            -webkit-text-fill-color: #ffffff;
                        }

                    }

                    &:focus {
                        background: linear-gradient(85.71deg, #5A096A 2.88%, #C43E1D 100%);

                        span {
                            -webkit-text-fill-color: #ffffff;
                        }
                    }

                    span {
                        @include font(24px, 600, 'WeblysleekUI-bold');
                        background: $staticColorGradient;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }

            .btn-primary+.btn-primary {
                margin-top: 32px;
            }
        }
    }
}