@media (max-width: 1199.98px) {
    .customers-list-page {
        .customers-list-block {
            .customers-list {
                padding: 24px;

                .ant-table {
                    width: 730px;
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    .customers-list-page {
        .customers-list-block {
            .customers-list {
                .ant-table {
                    width: 328px;
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .customers-list-page {
        .customers-list-block {
            .customers-list {
                padding: 15px;

                .ant-table {
                    width: 280px;
                }
            }
        }
    }
}