@font-face {
    font-family: 'WeblysleekUI';
    src: url("weblysleekuisl.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'WeblysleekUI-bold';
    src: url("weblysleekuisb.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}
