@media (max-width: 991.98px) {
    .request {
        .content {
            .request-types-call {
                padding: 15px;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .request {
        .content {
            .request-types-call {
                flex-direction: column;
                height: auto;
            }
        }
    }
}
