@media (max-width: 797.98px) {
    .new-subscriber-call {
        flex-direction: column;
        padding: 15px;
    }
}


@media (max-width: 575.98px) {
    .new-subscriber-call {
        padding: 0;
    }
}